@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.SelectedCustomer.Name</h2>
<ul>
    <li>Membership Type: @Model.SelectedCustomer.MembershipType.Name</li>
    @if (Model.SelectedCustomer.BirthDate.HasValue)
    {
        <li>@Model.SelectedCustomer.BirthDate.Value.ToShortDateString()</li>
    }
</ul>

